<!DOCTYPE html>
<html lang="en">
<head>
    <title>Traffic Monitor & Debug</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/static/css/header_list.css" rel="stylesheet" >
    <script src="/static/js/header_list.js"></script>
    <link href="/static/css/jumbotron.css" rel="stylesheet" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Include multiselect plugin's CSS and JS: -->
    <script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>
</head>

<body>
    {% include 'nav_top.html' %}
    <div class="container">

    <div class="jumbotron text-center">
        <h1>Traffic MD</h1>
        <p>A Traffic Server Plugin Monitor and Debug Tool</p>
    </div>

    {# Filter settings #}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <b>Filter Settings</b>
                </div>
                <div class="col-sm-2">
                    <button id="filter" class="btn btn-success" type="button" onclick=filter_hook_plugin()>Filter
                    <span class="glyphicon glyphicon-filter"></span></button>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1" style="height: 12px">Hook Ids </span>
                <select id="hook_id" title="Choose Hook Ids" multiple="multiple">
                    <option {% if 'ALL_HOOKs' in selected_hook_id %} selected="selected" {% endif %}>ALL_HOOKs</option>
                    {% for hook_id in hook_id_list %}
                    <option {% if hook_id in selected_hook_id %} selected="selected"{% endif %}>{{ hook_id }}</option>
                    {% endfor %}
                </select>
            </div><!-- /input-group -->

            <hr class="divider">

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Plugin Names</span>
                <select id="plugin_name" title="Choose Plugin Names" multiple="multiple">
                    <option {% if 'ALL_Plugins' in selected_plugin %} selected="selected" {% endif %}>ALL_Plugins</option>
                    {% for plugin in plugin_list %}
                    <option {% if plugin in selected_plugin %} selected="selected"{% endif %}>{{ plugin }}</option>
                    {% endfor %}
                </select>
            </div><!-- /input-group -->
        </div>
    </div>

    <hr class="divider">

    {% for head_info in header_dict_list %}
    <div id = "{{ "panel-" ~ loop.index0 }}" class="panel panel-default" >
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-2">
                    <b>Request ID</b>: {{head_info.state_machine_id}}
                </div>
                <div class="col-sm-4">
                    <b>Hook ID</b>: {{head_info.hook_id}}
                </div>
                <div class="col-sm-4">
                    <b>Plugin Name</b>: {{head_info.plugin_name}}
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-success" data-toggle="collapse"
                            data-target={{ "#collapse-" ~ loop.index0 }}>Collapse</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <b>Tag</b>: {{head_info.tag}}
                </div>
                <div class="col-sm-4">
                    <b>Time</b>: {{head_info.time}}
                </div>

                <div class="col-sm-4">
                    <b>Sequence</b>: {{head_info.sequence}}
                </div>

            </div>
        </div>
        {% set outer_loop = loop %}
        <div id = "{{ "collapse-" ~ loop.index0 }}" class="panel-collapse collapse" >
            <script>
                $('{{ '#collapse-' ~ loop.index0 }}').on('show.bs.collapse', function () {
                    document.getElementById("{{ "panel-" ~ loop.index0 }}").setAttribute("class", "panel panel-primary")
                });
                $('{{ '#collapse-' ~ loop.index0 }}').on('hide.bs.collapse', function () {
                    document.getElementById("{{ "panel-" ~ loop.index0 }}").setAttribute("class", "panel panel-default")
                })
            </script>
            <div class="panel-body">
                {% for header_diff in head_info.header_diff_list %}
                {# add a divider line to separate different request. #}
                {% if not loop.first %}
                <hr class="divider">
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <b>{{header_diff.name}}</b>
                                <!-- Trigger the modal with a button -->
                                <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                                    data-target={{ "#hdrModal" ~ "-" ~ outer_loop.index0 ~ "-" ~ loop.index0 }}>View</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {% for line in header_diff.hdr_diff %}
                                    {% if line.startswith('+++') or line.startswith('---') or line.startswith('@@') %}
                                        <p style="background-color: #F6F6F6">{{line}}</p>
                                    {% elif line.startswith('+') %}
                                        <p class="bg-success">{{line}}</p>
                                    {% elif line.startswith('-') %}
                                        <p class="bg-danger">{{line}}</p>
                                    {% else %}
                                        <p class="text-muted">{{line}}</p>
                                    {% endif %}
                                {# iterator lines in the header #}
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id={{ "hdrModal" ~ "-" ~ outer_loop.index0 ~ "-" ~ loop.index0 }} role="dialog">
                            <p>{{ loop.index0 }}</p>
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{head_info.header_list[loop.index0].name}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        {% for line in head_info.header_list[loop.index0].hdr_info %}
                                            <p>{{line}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {# iterator header diff list: client request, server request, server response, client response #}
                {% endfor %}
            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div>
    {# iterator of header_dict_list #}
    {% endfor %}
    </div>

    <script>
        $('#hook_id').multiselect();
        $('#plugin_name').multiselect();
    </script>
</body>
</html>